<div class="container">
    <div class="text-center">
        <h2 style="color: black;">Bem vindo a plataforma da WeKnow</h2>
    </div>
    <div class="lista">
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-5">
                <h4>Cadastre seus produtos</h4>
                <a class="btn btn-primary" href="/cadastro" style="color: #fff !important;">Cadastrar</a>
            </div>
            <div class="col-md-7">
                <h4>Veja a lista de produtos cadastrados</h4>
                <a class="btn btn-primary" href="/lista" style="color: #fff !important;">Lista</a>
            </div>
        </div>
    </div>
</div>